<a href="https://colab.research.google.com/github/vikasreddy2409/python/blob/main/Australia_Car_Market_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [6]:
#load the dataset
data=pd.read_csv('/content/cars_info (1).csv')

In [7]:
data.head()

,ID,Name,Price,Brand,Model,Variant,Series,Year,Kilometers,Type,Gearbox,Fuel,Status,CC,Color,Seating Capacity
0,11530130,2010 Toyota Rukus Build 2 AZE151R,9999,Toyota,Rukus,Build 2,AZE151R,2010,263000,Wagon,Automatic,Unleaded Petrol,Used,2362,Grey,5
1,12190570,2021 Mercedes-Benz V 250 D Avantgarde MWB 447 ...,117990,Mercedes-Benz,V,250 D Avantgarde MWB,447 MY21,2021,19,Wagon,Automatic,Diesel,New In Stock,2143,Black,7
2,12321855,2021 Mercedes-Benz Valente 116 CDI MWB RWD 447...,79990,Mercedes-Benz,Valente,116 CDI MWB RWD,447 MY21,2021,24,Wagon,Automatic,Diesel,New In Stock,2143,Black,8
3,12346971,2010 Mercedes-Benz E250 CDI Avantgarde 207,34990,Mercedes-Benz,E250,CDI Avantgarde,207,2010,120579,Cabriolet,Automatic,Diesel,Used,2143,Black,4
4,12363884,2016 Holden Cruze CD JH MY16,15990,Holden,Cruze,CD,JH MY16,2016,72506,Sportswagon,Automatic,Unleaded Petrol,Used,1796,White,5

In [8]:
data.shape

(17048, 16)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17048 entries, 0 to 17047
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                17048 non-null  int64
 1   Name              17048 non-null  object
 2   Price             17048 non-null  int64
 3   Brand             17048 non-null  object
 4   Model             17048 non-null  object
 5   Variant           17048 non-null  object
 6   Series            17048 non-null  object
 7   Year              17048 non-null  int64
 8   Kilometers        17048 non-null  int64
 9   Type              17048 non-null  object
 10  Gearbox           17048 non-null  object
 11  Fuel              17048 non-null  object
 12  Status            17048 non-null  object
 13  CC                17048 non-null  int64
 14  Color             17048 non-null  object
 15  Seating Capacity  17048 non-null  int64
dtypes: int64(6), object(10)
memory usage: 2.1+ MB

In [24]:
data.groupby('Brand')['Price'].mean()
average_price_by_Brand = data.groupby('Brand')['Price'].mean()
highest_avg_price = average_price_by_Brand
lowest_avg_price = average_price_by_Brand

print("Average Price by Brand:\n", average_price_by_Brand)
print("\nBrand with highest average price:", highest_avg_price)
print("Brand with lowest average price:", lowest_avg_price)
print("Average Price by Brand:\n", average_price_by_Brand)
print("\nBrand with highest average price:", highest_avg_price)
print("Brand with lowest average price:", lowest_avg_price)

Average Price by Brand:
 Brand
Abarth              37493.800000
Alfa Romeo          49282.545455
Aston Martin       235120.000000
Audi                52605.027027
BMW                 56373.000000
Bentley            181405.428571
Chery                8749.500000
Chevrolet          145833.857143
Chrysler            35253.595238
Citroen             24233.384615
Cupra               62334.200000
Dodge               13836.214286
FPV                 91490.000000
Fiat                20448.529412
Ford                36091.152349
Foton               18972.000000
GWM                 38250.793103
Genesis             64888.000000
Great Wall          12300.851852
HSV                 74036.162162
Haval               32565.285714
Hino                46500.000000
Holden              23343.577409
Honda               23326.019370
Hyundai             27240.912603
Infiniti            32747.777778
Isuzu               42962.951311
Iveco               52990.000000
Jaguar              61976.394737
Jeep                39098.102902
Kia                 30301.614247
LDV                 37798.696721
Lamborghini        452923.333333
Land Rover          64485.186813
Lexus               50281.566667
MG                  24967.536082
Mahindra            13990.000000
Maserati            84859.750000
Mazda               29900.791774
Mercedes-Benz       63490.852800
Mini                34974.303030
Mitsubishi          28923.222533
Mitsubishi Fuso     24900.000000
Nissan              26919.916667
Opel                11838.250000
Peugeot             27627.066667
Porsche            153987.835165
Proton              11990.000000
Ram                105055.956522
Renault             34400.525316
Saab                 8435.000000
Skoda               37865.675000
Smart               13990.000000
Ssangyong           25287.363636
Subaru              28556.454962
Suzuki              18956.243750
Toyota              40719.680997
Volkswagen          38100.763494
Volvo               52159.484472
Name: Price, dtype: float64

Brand with highest average price: Brand
Abarth              37493.800000
Alfa Romeo          49282.545455
Aston Martin       235120.000000
Audi                52605.027027
BMW                 56373.000000
Bentley            181405.428571
Chery                8749.500000
Chevrolet          145833.857143
Chrysler            35253.595238
Citroen             24233.384615
Cupra               62334.200000
Dodge               13836.214286
FPV                 91490.000000
Fiat                20448.529412
Ford                36091.152349
Foton               18972.000000
GWM                 38250.793103
Genesis             64888.000000
Great Wall          12300.851852
HSV                 74036.162162
Haval               32565.285714
Hino                46500.000000
Holden              23343.577409
Honda               23326.019370
Hyundai             27240.912603
Infiniti            32747.777778
Isuzu               42962.951311
Iveco               52990.000000
Jaguar              61976.394737
Jeep                39098.102902
Kia                 30301.614247
LDV                 37798.696721
Lamborghini        452923.333333
Land Rover          64485.186813
Lexus               50281.566667
MG                  24967.536082
Mahindra            13990.000000
Maserati            84859.750000
Mazda               29900.791774
Mercedes-Benz       63490.852800
Mini                34974.303030
Mitsubishi          28923.222533
Mitsubishi Fuso     24900.000000
Nissan              26919.916667
Opel                11838.250000
Peugeot             27627.066667
Porsche            153987.835165
Proton              11990.000000
Ram                105055.956522
Renault             34400.525316
Saab                 8435.000000
Skoda               37865.675000
Smart               13990.000000
Ssangyong           25287.363636
Subaru              28556.454962
Suzuki              18956.243750
Toyota              40719.680997
Volkswagen          38100.763494
Volvo               52159.484472
Name: Price, dtype: float64
Brand with lowest average price: Brand
Abarth              37493.800000
Alfa Romeo          49282.545455
Aston Martin       235120.000000
Audi                52605.027027
BMW                 56373.000000
Bentley            181405.428571
Chery                8749.500000
Chevrolet          145833.857143
Chrysler            35253.595238
Citroen             24233.384615
Cupra               62334.200000
Dodge               13836.214286
FPV                 91490.000000
Fiat                20448.529412
Ford                36091.152349
Foton               18972.000000
GWM                 38250.793103
Genesis             64888.000000
Great Wall          12300.851852
HSV                 74036.162162
Haval               32565.285714
Hino                46500.000000
Holden              23343.577409
Honda               23326.019370
Hyundai             27240.912603
Infiniti            32747.777778
Isuzu               42962.951311
Iveco               52990.000000
Jaguar              61976.394737
Jeep                39098.102902
Kia                 30301.614247
LDV                 37798.696721
Lamborghini        452923.333333
Land Rover          64485.186813
Lexus               50281.566667
MG                  24967.536082
Mahindra            13990.000000
Maserati            84859.750000
Mazda               29900.791774
Mercedes-Benz       63490.852800
Mini                34974.303030
Mitsubishi          28923.222533
Mitsubishi Fuso     24900.000000
Nissan              26919.916667
Opel                11838.250000
Peugeot             27627.066667
Porsche            153987.835165
Proton              11990.000000
Ram                105055.956522
Renault             34400.525316
Saab                 8435.000000
Skoda               37865.675000
Smart               13990.000000
Ssangyong           25287.363636
Subaru              28556.454962
Suzuki              18956.243750
Toyota              40719.680997
Volkswagen          38100.763494
Volvo               52159.484472
Name: Price, dtype: float64
Average Price by Brand:
 Brand
Abarth              37493.800000
Alfa Romeo          49282.545455
Aston Martin       235120.000000
Audi                52605.027027
BMW                 56373.000000
Bentley            181405.428571
Chery                8749.500000
Chevrolet          145833.857143
Chrysler            35253.595238
Citroen             24233.384615
Cupra               62334.200000
Dodge               13836.214286
FPV                 91490.000000
Fiat                20448.529412
Ford                36091.152349
Foton               18972.000000
GWM                 38250.793103
Genesis             64888.000000
Great Wall          12300.851852
HSV                 74036.162162
Haval               32565.285714
Hino                46500.000000
Holden              23343.577409
Honda               23326.019370
Hyundai             27240.912603
Infiniti            32747.777778
Isuzu               42962.951311
Iveco               52990.000000
Jaguar              61976.394737
Jeep                39098.102902
Kia                 30301.614247
LDV                 37798.696721
Lamborghini        452923.333333
Land Rover          64485.186813
Lexus               50281.566667
MG                  24967.536082
Mahindra            13990.000000
Maserati            84859.750000
Mazda               29900.791774
Mercedes-Benz       63490.852800
Mini                34974.303030
Mitsubishi          28923.222533
Mitsubishi Fuso     24900.000000
Nissan              26919.916667
Opel                11838.250000
Peugeot             27627.066667
Porsche            153987.835165
Proton              11990.000000
Ram                105055.956522
Renault             34400.525316
Saab                 8435.000000
Skoda               37865.675000
Smart               13990.000000
Ssangyong           25287.363636
Subaru              28556.454962
Suzuki              18956.243750
Toyota              40719.680997
Volkswagen          38100.763494
Volvo               52159.484472
Name: Price, dtype: float64

Brand with highest average price: Brand
Abarth              37493.800000
Alfa Romeo          49282.545455
Aston Martin       235120.000000
Audi                52605.027027
BMW                 56373.000000
Bentley            181405.428571
Chery                8749.500000
Chevrolet          145833.857143
Chrysler            35253.595238
Citroen             24233.384615
Cupra               62334.200000
Dodge               13836.214286
FPV                 91490.000000
Fiat                20448.529412
Ford                36091.152349
Foton               18972.000000
GWM                 38250.793103
Genesis             64888.000000
Great Wall          12300.851852
HSV                 74036.162162
Haval               32565.285714
Hino                46500.000000
Holden              23343.577409
Honda               23326.019370
Hyundai             27240.912603
Infiniti            32747.777778
Isuzu               42962.951311
Iveco               52990.000000
Jaguar              61976.394737
Jeep                39098.102902
Kia                 30301.614247
LDV                 37798.696721
Lamborghini        452923.333333
Land Rover          64485.186813
Lexus               50281.566667
MG                  24967.536082
Mahindra            13990.000000
Maserati            84859.750000
Mazda               29900.791774
Mercedes-Benz       63490.852800
Mini                34974.303030
Mitsubishi          28923.222533
Mitsubishi Fuso     24900.000000
Nissan              26919.916667
Opel                11838.250000
Peugeot             27627.066667
Porsche            153987.835165
Proton              11990.000000
Ram                105055.956522
Renault             34400.525316
Saab                 8435.000000
Skoda               37865.675000
Smart               13990.000000
Ssangyong           25287.363636
Subaru              28556.454962
Suzuki              18956.243750
Toyota              40719.680997
Volkswagen          38100.763494
Volvo               52159.484472
Name: Price, dtype: float64
Brand with lowest average price: Brand
Abarth              37493.800000
Alfa Romeo          49282.545455
Aston Martin       235120.000000
Audi                52605.027027
BMW                 56373.000000
Bentley            181405.428571
Chery                8749.500000
Chevrolet          145833.857143
Chrysler            35253.595238
Citroen             24233.384615
Cupra               62334.200000
Dodge               13836.214286
FPV                 91490.000000
Fiat                20448.529412
Ford                36091.152349
Foton               18972.000000
GWM                 38250.793103
Genesis             64888.000000
Great Wall          12300.851852
HSV                 74036.162162
Haval               32565.285714
Hino                46500.000000
Holden              23343.577409
Honda               23326.019370
Hyundai             27240.912603
Infiniti            32747.777778
Isuzu               42962.951311
Iveco               52990.000000
Jaguar              61976.394737
Jeep                39098.102902
Kia                 30301.614247
LDV                 37798.696721
Lamborghini        452923.333333
Land Rover          64485.186813
Lexus               50281.566667
MG                  24967.536082
Mahindra            13990.000000
Maserati            84859.750000
Mazda               29900.791774
Mercedes-Benz       63490.852800
Mini                34974.303030
Mitsubishi          28923.222533
Mitsubishi Fuso     24900.000000
Nissan              26919.916667
Opel                11838.250000
Peugeot             27627.066667
Porsche            153987.835165
Proton              11990.000000
Ram                105055.956522
Renault             34400.525316
Saab                 8435.000000
Skoda               37865.675000
Smart               13990.000000
Ssangyong           25287.363636
Subaru              28556.454962
Suzuki              18956.243750
Toyota              40719.680997
Volkswagen          38100.763494
Volvo               52159.484472
Name: Price, dtype: float64

In [34]:
data.groupby('Brand')['Price'].mean()

Brand
Abarth              37493.800000
Alfa Romeo          49282.545455
Aston Martin       235120.000000
Audi                52605.027027
BMW                 56373.000000
Bentley            181405.428571
Chery                8749.500000
Chevrolet          145833.857143
Chrysler            35253.595238
Citroen             24233.384615
Cupra               62334.200000
Dodge               13836.214286
FPV                 91490.000000
Fiat                20448.529412
Ford                36091.152349
Foton               18972.000000
GWM                 38250.793103
Genesis             64888.000000
Great Wall          12300.851852
HSV                 74036.162162
Haval               32565.285714
Hino                46500.000000
Holden              23343.577409
Honda               23326.019370
Hyundai             27240.912603
Infiniti            32747.777778
Isuzu               42962.951311
Iveco               52990.000000
Jaguar              61976.394737
Jeep                39098.102902
Kia                 30301.614247
LDV                 37798.696721
Lamborghini        452923.333333
Land Rover          64485.186813
Lexus               50281.566667
MG                  24967.536082
Mahindra            13990.000000
Maserati            84859.750000
Mazda               29900.791774
Mercedes-Benz       63490.852800
Mini                34974.303030
Mitsubishi          28923.222533
Mitsubishi Fuso     24900.000000
Nissan              26919.916667
Opel                11838.250000
Peugeot             27627.066667
Porsche            153987.835165
Proton              11990.000000
Ram                105055.956522
Renault             34400.525316
Saab                 8435.000000
Skoda               37865.675000
Smart               13990.000000
Ssangyong           25287.363636
Subaru              28556.454962
Suzuki              18956.243750
Toyota              40719.680997
Volkswagen          38100.763494
Volvo               52159.484472
Name: Price, dtype: float64

In [35]:
data.groupby('Status')['Price'].mean()
average_price_by_status = data.groupby('Status')['Price'].mean()
print("Average Price by Condition (Status):\n", average_price_by_status)

Average Price by Condition (Status):
 Status
Demo            67307.576227
New In Stock    55703.207283
Used            35638.707250
Name: Price, dtype: float64

In [45]:
correlation = data['Kilometers'].corr(data['Price'])
print("Corr between Kilometers and Price:", correlation)

Corr between Kilometers and Price: -0.4474897290060361

In [46]:
data.groupby('CC')[['Price', 'Kilometers']].mean()

             Price     Kilometers
CC
875   12991.666667   78367.000000
898   11725.000000   63775.000000
996    7585.200000  173093.800000
998   24332.000000   43325.705882
999   31563.275362   24891.362319
...            ...            ...
6200  67635.435897   80278.756410
6208  68575.600000   97803.200000
6417  60557.000000   89984.142857
6424  88398.615385   70141.923077
7300  84990.000000  324359.000000

[305 rows x 2 columns]